{% extends 'base.html' %}

{% block title %}RecordType Detail{% endblock %}

{% block content %}
<div class="back">
    <a href="/back/types">
        &laquo; back to RecordTypes
    </a>
</div>
<div class="header">
    <h1>RecordType Detail</h1>
</div>
<div class="actions">
    <h3>Actions</h3>
    <ul>
        <li>
            <a href="#" id="edit-recordtype">
                Edit
            </a>
        </li>
        <li>
            <a href="#" id="delete-recordtype">
                Delete
            </a>
        <li>
            <a href="#" id="view-history">
                View history
            </a>
        </li>
    </ul>
</div>
<div class="loading-dialog-container">
    <p>Loading metadata...</p>
</div>
<div class="detail-table-container" style="display:none">
    <table class="detail-table" id="table">
        <tbody>
            <tr id="recordtype-label-row">
                <td><strong>Label</strong></td>
                <td id='recordtype-label'></td>
            </tr>
            <tr id="recordtype-plural-row">
                <td><strong>Plural</strong></td>
                <td id='recordtype-plural-label'></td>
            </tr>
            <tr id="recordtype-description-row">
                <td><strong>Description</strong></td>
                <td id='recordtype-description'></td>
            </tr>
            <tr id="recordtype-active-row">
                <td><strong>Active</strong></td>
                <td id='recordtype-active'></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="schema-container">
    <h3>Current schema
        <small>
            <a href="#" type="button" id="edit-schema">
                Edit
            </a>
        </small>
    </h3>
    <div id="schema-editor-container" style="display:none;">
        <p class="loading-schema">Loading current schema...</p>
            <fieldset id="schema-editor-fieldset">
                <legend>Edit schema</legend>
                <div id="schema-editor"></div>
            </fieldset>
    </div>
    <div class="schema-display">
        <p class="loading-schema">Loading current schema...</p>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor/dist/jsoneditor.min.js"></script>
<script type="text/babel" src="{{ url_for('static', filename='js/editor-schema.js') }}"></script>
<script type="text/babel">
    // Get the UUID of the RecordType
    const uuid = "{{ uuid }}";

    var schema = {},
        schemaEditor = {};

    function loadDataTable() {
        /* Retrieve metadata for this RecordType from the Ashlar API.
        /  Takes no arguments, and updates the DOM/
        */
        // Show a loading message while the AJAX request loads.
        $('.loading-dialog-container').show();
        $('.detail-table-container').hide();

        // Retrieve a list of RecordTypes.
        $.getJSON(`http://127.0.0.1:8000/api/recordtypes/${uuid}/`)
            .done((rt) => {
                // Display data in the metadata table.
                $('#recordtype-label').html(rt.label);
                $('#recordtype-plural-label').html(rt.plural_label);
                $('#recordtype-description').html(rt.description);
                $('#recordtype-active').html(rt.active);

                // Update the schema editor with the current schema.
                let schemaEditorElement = document.getElementById('schema-editor');

                // If the RecordType has no schema, it will return a schema
                // value of 'undefined'. Cast this to an empty object for easier
                // processing later on.
                var schema = typeof(rt.schema) === 'undefined' ? {} : rt.schema;

                if (Object.keys(schema).length == 0) {
                    // No schema for this RecordType; initialize an empty editor.
                    schema = defaultEditorSchema;

                    // Display a message saying no schema exists yet.
                    $('.schema-display').html(`
                        <p>
                            No schema exists yet for this record. Select
                            the <strong>Edit</strong> button above to
                            add a schema.
                        </p>
                    `)
                } else {
                    // Display this schema.
                    let schemaDisplay = JSON.stringify(schema);
                    $('.schema-display').html(`
                        <pre>
                            <code>
                                ${schemaDisplay}
                            </code>
                        </pre>
                    `);
                }

                $('.loading-schema').hide();

                schemaEditor = new JSONEditor(schemaEditorElement, {
                    schema: schema,
                });

                // Add cancel and submit buttons
                $('#schema-editor-fieldset').append(`
                    <a href="#" id="close-schema-editor" >Close</a>
                    <button id="submit-schema-editor">Submit</button>
                `)

                // Define events for new buttons.
                $('#close-schema-editor').click((e) => {
                    e.preventDefault();
                    $('#schema-editor-container').hide();
                })

                // Toggle the metadata table and the loading dialog.
                $('.detail-table-container').show();
                $('.loading-dialog-container').hide();
          }).fail((resp) => {
                // TODO: show a more descriptive error
                $('.loading-dialog-container').html(`
                    <p>Error: failed to load RecordType.</p>
                `);
                $('.schema-display').html(`
                    <p>Error: failed to load schema for this RecordType.</p>
                `);
          });
    }

    $(document).ready(() => {
        // Load the metadata from the API.
        loadDataTable();

        $('#edit-schema').click((e) => {
            e.preventDefault();
            $('#schema-editor-container').toggle();
        })

        // TODO: Enable editing RecordType

        // Enable deleting RecordType
        $('#delete-recordtype').click(() => {
            if (window.confirm('Are you sure you want to delete this RecordType?')) {
                $.ajax(`http://127.0.0.1:8000/api/recordtypes/${uuid}`, {
                    method: 'PATCH',
                    data: {"active": false}
                }).done(() => {
                    alert('RecordType deleted!');
                    loadDataTable;
                }).fail((resp) => {
                    // TODO: show a more descriptive error
                    alert('Could not delete record');
                });
            }
        });

        // TODO: Enable history
    });
</script>
{% endblock %}
