<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block body %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    {% endblock %}
</body>

<!-- Load Babel polyfill for ES6 support -->
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

<!-- Load JQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

{% block extra_js %}{% endblock %}
</html>
