{% extends 'base.html' %}

{% block title %}Ashlar Reference Implementation{% endblock %}

{% block content %}
<div class="header">
    <h1>Ashlar Reference Implementation</h1>
</div>
<nav class="nav">
    <ul>
        <li>
            <a href="/back/types/">
                Manage <strong>schemas</strong> &raquo;
            </a>
        </li>
        <li>
            <a href="back/records/">
                Collect <strong>records</strong> &raquo;
            </a>
        </li>
        <li>
            <a href="/front">
                User-facing <strong>frontend</strong> &raquo;
            </a>
        </li>
    </ul>
</nav>
{% endblock %}
