{% extends 'base.html' %}

{% block title %}Collect records{% endblock %}

{% block content %}
<div class="back">
    <a href="/">
        &laquo; back home
    </a>
</div>
<div class="header">
    <h1>Collect records</h1>
</div>
<div class="actions">
    <h3>Actions</h3>
    <ul>
        <li>
            <a href="#" id="add-recordtype">
                Add new record
            </a>
        </li>
    </ul>
</div>
<div class="list">
    <h3>Browse all records</h3>
    <table class="list-table" id="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Archived</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>77c97da4-0ea3-4899-9211-f8e1003c989d</td>
                <td>Test Type</td>
                <td>X</td>
                <td><a href="/back/records/77c97da4-0ea3-4899-9211-f8e1003c989d">View &raquo;</a>
                <td><a href="/back/records/77c97da4-0ea3-4899-9211-f8e1003c989d?edit=true">Edit &raquo;</a>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
