{% extends 'base.html' %}

{% block title %}Ashlar Schema Editor{% endblock %}

{% block content %}
<div class="header">
    <h1>Ashlar Schema Editor</h1>
</div>
<div class="data-types">
    <h2>Browse and edit data types</h2>
    <ul>
        <li>
            <a href="/recordtypes/">
                RecordType
            </a>
        </li>
        <li>
            <a href="/recordschemas/">
                RecordSchemas
            </a>
        </li>
        <li>
            <a href="/records/">
                Records
            </a>
        </li>
    </ul>
</div>
{% endblock %}
